/* Breakpoints comunes para diseño responsivo
xs: < 576px, Moviles en vertical
sm: < 768px, Moviles en horizontal
md: < 992px, Tablets (iPads)
lg: < 1200px, Portatiles y monitores de sobremesa pequeños
xl: < 1400px, Monitores de sobremesa grandes
 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

button {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    /* Wrap y gap ayudan con pantallas muy pequeñas a que el contenido se vea mejor */
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0;
}

nav a {
    margin: 0 10px;
}

nav img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* El contenido principal lo mostramos en columna en dispositivos pequeños y en modo fila en dispositivos más grandes */
main {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
        flex-direction: row;
        justify-content: center;
        margin-top: 5rem;
    }
}

#logo {
    width: 100px;
    height: auto;
}

#main-picture-container {
    /* Vamos a usar un div con una imagen de fondo para poder poner los botones de cambiar de foto en dispositivos pequeños */
    /* bg-size cover para que la imagen no se repita, pero tenemos que ir ajustando la altura dependiendo del tamaño de la pantalla */
    background-image: url('images/image-product-1.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 576px) {
        height: 600px;
    }

    @media (min-width: 768px) {
        height: 700px;
    }

    @media (min-width: 992px) {
        margin-bottom: 2rem;
        border-radius: 10px;
        height: 400px;
        width: auto;
    }
}

.slider-button {
    /* hacerlo flex y centrar todo ayudó a que la imagen esté centrada en el botón */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffede0;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* círculo */
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;

    /* En pantallas grandes no mostramos estos botones */
    @media (min-width: 992px) {
        display: none;
    }
}

#prev-button {
    margin-left: 0.6rem;
}

#next-button {
    margin-right: 0.6rem;
}

.product-images {
    @media (min-width: 992px) {
        width: 40%;
        margin-right: 5rem;
    }
}

.product-description {
    margin: 1rem 2rem;

    @media (min-width: 992px) {
        width: 40%;
    }
}

.company-name {
    font-weight: 700;
    color: #68707d;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    color: #68707d;
    line-height: 1.5rem;
}

.price-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0;

    @media (min-width: 992px) {
        flex-direction: column;
    }
}

.original-price {
    font-weight: 700;
    text-decoration: line-through;
    color: #68707d;
}

.current-price {
    font-weight: 700;
    font-size: 1.5rem;
}

.discount {
    font-weight: 600;
    font-size: 0.8rem;
    background-color: #1d2025;
    color: white;
    margin-left: 1rem;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
}

.amount-selector {
    display: flex;
    justify-content: space-between;
    background-color: #f7f8fd;
    padding: 1rem;
    border-radius: 10px;

    @media (min-width: 992px) {
        width: 30%;
    }
}

.amount {
    font-weight: 700;
}

.amount-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.add-to-cart-section {
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#add-to-cart-button {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100%;
    border: none;
    background-color: #ff7d1a;
    border-radius: 10px;
    font-weight: 700;

    @media (min-width: 992px) {
        width: 60%;
        margin: 0;
    }
}

button svg {
    margin-right: 1rem;
}

/* Las fotos previas solo se muestran en pantallas grandes */
#thumbnails {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 992px) {
        display: none;
    }
}

#thumbnails img {
    width: 15%;
    border-radius: 10px;
}

/* .nav-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
} */